<%- include("../partials/header")%>

<form action="/login" method="post">
    <div class="form-group">
        <label for="usrnam">Username: </label>
        <input type="text" name="username" id="usrnam">
        <label for="psswrd">Password</label>
        <input type="password" name="password" id="psswrd">
        <input type="submit" value="Login">
    </div>

</form>

<%- include("../partials/footer")%>